<body>
    <form action="/logar" method="post">
    <input type="text" name="user" id="user">
    <input type="password" name="password" id="password">
    <button type="submit">Logar</button>
    </form>
</body>